<template>
<el-row>
    <el-col :md="20" :offset="2">
        <Cart :carts="cartData" :total="total"></Cart>
    </el-col>
</el-row>
</template>
<script setup lang="ts">
import Cart from '@/components/Cart.vue';
import { useCartStore } from '@/stores/cartStore';
import { storeToRefs } from 'pinia';
const {total, cartData} = storeToRefs(useCartStore());
</script>