<template>
    <el-row>
        <el-col :md="24" >
            <ProductDetail v-if="productDetail" :product="productDetail"></ProductDetail>
        </el-col>
    </el-row>
    </template>
    <script setup lang="ts">
        import ProductDetail from '@/components/ProductDetail.vue';
        import { useProductStore } from '@/stores/ProductStore';
        const {productDetail} = useProductStore();
    </script>