<template>
     <el-row>
        <el-col :md="20" :offset="2">
            <h1>Notre catalogue</h1>
            <el-form>
                <el-input type="text" v-model="search" placeholder="Rechercher"></el-input>
            </el-form>        
        </el-col>
    </el-row>
    <el-row>
        <el-col :md="24">
                <el-row>
                    <ProductItem v-for="(item, index) in filterList" 
                    :product="item" :key="index" @buy="canBuy"
                    @detail="canViewDetail"></ProductItem>
                </el-row>        
        </el-col>
    </el-row>
</template>
<script setup lang="ts">
    import ProductItem from '@/components/ProductItem.vue';
    import { useProductStore } from '@/stores/ProductStore';
    import { storeToRefs } from 'pinia';
    import { useRouter } from 'vue-router';

    const store = useProductStore();
    const {filterList, search} = storeToRefs(store);
    const {canBuy, canViewDetail} = store;
    const router = useRouter();
    const detailRedirect = (id: Number) => {
        canViewDetail(id);
        router.push(`/detail/${id}`);
    }
</script>
<style scoped>
</style>