<template>
    <el-row>
        <el-col :md="8">
            <h2>Total Commande: {{ total }}</h2>
        </el-col>
    </el-row>
    <el-row>
        <el-col :md="20" :offset="2">
            <h1>Mon Panier {{ total }}</h1>
            <el-table :data="carts">
                <el-table-column prop="id" label="#Id"></el-table-column>
                <el-table-column prop="title" label="#Title"></el-table-column>
                <el-table-column prop="price" label="#Price"></el-table-column>
                <el-table-column prop="quantity" label="#Quantity"></el-table-column>
            </el-table>
        </el-col>
    </el-row>
</template>
<script setup lang="ts">
    import type CartModel from '@/components/models/CartModel';
    const props = defineProps<{
        carts: Array<CartModel>,
        total: Number
    }>();
</script>