<template>
    <el-menu
        :default-active="activeIndex"
        class="el-menu-demo"
        mode="horizontal"
    >
        <el-menu-item index="1">
            <RouterLink to="/">Accueil</RouterLink>
        </el-menu-item>
        <el-badge :value="totalElements" type="warning">
            <el-menu-item index="2">
                <RouterLink to="/cart">Panier</RouterLink>
            </el-menu-item>
        </el-badge>
    </el-menu>
</template>
<script setup lang="ts">
import {ref} from 'vue';
import { useCartStore } from '@/stores/cartStore';
import { storeToRefs } from 'pinia';

const {totalElements} = storeToRefs(useCartStore());
const activeIndex=ref('1');
</script>
<style scoped>
</style>