<template>
    <div v-if="product">
        <el-row>
            <el-col :md="20" :offset="2">
                <h2>Product Detail --- {{ product.categorie }}</h2>
                <p>{{ product.description }}</p>
                <span>Rating: {{ product.Rating }}</span>
            </el-col>
        </el-row>
    </div>
</template>
<script setup lang="ts">
    import type ProductModel from './models/ProductModel';
    defineProps<{
        product: ProductModel
    }>();
</script>
<style scoped>
</style>