<template>
    <el-col :md="8">
        <div class="product-item">
            <el-card>
                <div class="card-header">
                    <h1>{{ product?.title }}</h1>
                </div>
                <p class="pricing">FCFA{{ product?.price }}</p>
                <p>{{ truncateDescription(product?.description, 70) }}</p>
                <el-row>
                    <el-col :md="20" :offset="2">
                        <el-button type="primary" @click="acheter">Acheter</el-button>
                        <el-button type="warning" @click="detailView">Detail</el-button>
                    </el-col>
                </el-row>
            </el-card>
        </div>
    </el-col>
</template>
<script setup lang="ts">
    import type Product from './models/ProductModel';
    const prop = defineProps<{
        product: Product
    }>();

    const emit = defineEmits<{
        (e: 'buy', id: Number):void, (e: 'detail', id: Number):void
    }>();

    const acheter = () => {
        emit('buy', prop.product.id)
    }

    const detailView = () => {
        emit('detail', prop.product.id)
    } 
    const truncateDescription = (desc: String, limit: number) => {
        return desc.length > limit?desc.slice(0, limit) + '...': desc;
    }    
</script>
<style scoped>
.product-item{
    margin: 10px;
}
.pricing{
    text-align: center;
    font-weight: 700;
}
</style>