<script setup lang="ts">
  import Header from './components/Header.vue';
</script>

<template>
  <Header></Header>
  <main>
    <RouterView></RouterView>
  </main>
</template>

<style scoped>


</style>
